.box{
    background-color: rgb(189, 212, 195);
    height: 600px;
    width: 900px;
}
.parent{

    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
   
}
.card{
    margin-top: 10%;
    margin-bottom: 10%;
    height:400px;
    width:300px;
    background-color: rgb(223, 223, 224);
    border-radius:35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image{
   margin-left:10%; 
   margin-top: 10%;
   height: 200px;
}
.text{
    text-align: center;
    color: rgb(4, 255, 0);
}
.txt{
    text-align: center;
    color: rgb(255, 0, 0);
}